# Native代码之外的资源
/courses
/js backups (useful for debugging)
/res
/src
.cocos-project.json
cocos-project-template.json
depends_request.json
depends_response.json
jsb.sqlite
main.js
project.json
project.manifest
resources.manifest
# Android
.idea/
.externalNativeBuild/

# frameworks下需要同步的Native代码
frameworks/*

!frameworks/runtime-src/
frameworks/runtime-src/*
!frameworks/runtime-src/Classes/
!frameworks/runtime-src/proj.android-studio/
!frameworks/runtime-src/proj.ios_mac/
frameworks/runtime-src/proj.ios_mac/mac/
frameworks/runtime-src/proj.ios_mac/Smart_Pi.xcodeproj/*
!frameworks/runtime-src/proj.ios_mac/Smart_Pi.xcodeproj/project.pbxproj

!frameworks/cocos2d-x/
frameworks/cocos2d-x/*
!frameworks/cocos2d-x/cocos/
frameworks/cocos2d-x/cocos/scripting/*
!frameworks/cocos2d-x/cocos/scripting/js-bindings/
frameworks/cocos2d-x/cocos/scripting/js-bindings/*
!frameworks/cocos2d-x/cocos/scripting/js-bindings/auto/
!frameworks/cocos2d-x/cocos/scripting/js-bindings/custom/
!frameworks/cocos2d-x/cocos/scripting/js-bindings/docs/
!frameworks/cocos2d-x/cocos/scripting/js-bindings/jswrapper/
!frameworks/cocos2d-x/cocos/scripting/js-bindings/manual/
!frameworks/cocos2d-x/cocos/scripting/js-bindings/script/
!frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/
frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/*
!frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/project.pbxproj

# 移除Android的临时文件（夹）
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
frameworks/runtime-src/proj.android-studio/app/Smart_Pi.iml
